* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(./assets/images/warship-bg.jpg);
  background-size: cover;
  min-height: 100vh;
}

nav {
  height: 100px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-block: 0.75rem;
  .logo {
  }
}
main {
  display: grid;
  place-content: center;
  .main__info {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 5rem;
    background-color: rgba(151, 151, 151, 0.9);
  }
  .game {
    display: grid;
    grid-template:
      auto / minmax(150px, auto) minmax(200px, 30vw) minmax(200px, 30vw)
      minmax(150px, auto);
    background-color: rgba(110, 110, 110, 0.692);
    min-height: 30vw;
    .game__ships1,
    .game__ships2 {
    }
    .game__board1,
    .game__board2 {
      .board1,
      .board2 {
      }
      /* !Create board in JS*/
      border: 1px solid black;
    }
  }
}
footer {
  background-color: rgba(0, 0, 0, 0.815);
  position: absolute;
  bottom: 0;
  margin-top: auto;
  min-height: 100px;
  width: 100%;
}
