* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 600;
}
body {
  display: grid;
  background-image: url(./assets/images/warship-bg.jpg);
  background-size: cover;
  min-height: 100vh;
  grid-template: auto 1fr auto/1fr;
}

nav {
  height: 85px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0.75rem 0 0 0;
  .logo {
    height: 70.5px;
  }
}
main {
  display: grid;
  place-content: center;
  align-items: center;
  vertical-align: middle;
  .main__info > div,
  .main__info2 > div {
    display: grid;
    align-items: center;
    vertical-align: middle;
  }
  .info__newgame {
    display: grid;
    grid-template: 1fr /1fr 1fr;
    gap: 0.25rem;
    max-width: 250px;
  }
  .main__info {
    display: grid;
    grid-template: 1fr/ 1fr 1fr 1fr;
    justify-content: space-between;
    padding: 0.5rem 5rem;
    background-color: rgba(34, 34, 34, 0.9);
    color: whitesmoke;
    .info__turn {
      text-align: center;
    }
    .info__mode {
      text-align: right;
    }
  }
  .main__info2 {
    display: grid;
    grid-template: 1fr/ 1fr;
    width: 100%;
    padding: 0.5rem 5rem;
    background-color: rgba(34, 34, 34, 0.9);
    color: whitesmoke;
    .info2__turn {
      text-align: center;
      font-style: italic;
    }
  }
  .game {
    display: grid;
    grid-template:
      auto / minmax(150px, auto) minmax(200px, 30vw) minmax(200px, 30vw)
      minmax(150px, auto);
    background-color: rgba(110, 110, 110, 0.692);
    min-height: 30vw;
    max-height: 85vh;

    .game__ships1,
    .game__ships2 {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 1rem;
    }
    [class^="ship"]:hover {
      filter: contrast(1.2) brightness(1.3);
      cursor: grab;
    }
    .game__board1,
    .game__board2 {
      place-content: center;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      .board1,
      .board2 {
        display: grid;
        grid-template: repeat(10, minmax(25px, 3vw)) / repeat(
            10,
            minmax(25px, 3vw)
          );
        .square {
          min-height: fit-content;
          min-width: fit-content;
          border: 1px solid rgba(150, 150, 150, 0.521);
          background-color: rgba(0, 0, 0, 0.603);
          border-radius: 0.5rem;
          text-align: center;
          color: white;
          font-size: 1.8vw;
        }
        .square:hover {
          background-color: rgba(0, 0, 0, 0.3);
          cursor: crosshair;
          border-radius: 0.75rem;
        }
        [class*="square playerShip"] {
          border: 1px solid rgba(255, 255, 255, 0.712);
          background-color: rgba(88, 88, 88, 0.603);
        }
      }

      /* !Create board in JS*/
    }
    .player1 {
      background-color: rgba(0, 0, 255, 0.15);
    }
    .player2 {
      background-color: rgb(255, 0, 0, 0.15);
    }
  }
}
footer {
  background-color: rgba(0, 0, 0, 0);
  min-height: 100px;
  width: 100%;
}

/* -- */
button {
  background-color: transparent;
  padding: 0.25rem 0.25rem;
  border: 2px solid rgba(150, 150, 150, 0.2);
  border-radius: 0.5rem;
  color: white;
  font-weight: 700;
}
